* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.box-1 {
  background-image: radial-gradient(circle at center, red 35%, white 35% 100%);
}

.box-2 {
  background-image: radial-gradient(circle at 100px, yellow 60px, blue 60px);
}
.box-3 {
  background-image: radial-gradient(
      circle at center,
      rgb(255, 255, 255) 27%,
      transparent 27%
    ),
    linear-gradient(red 25%, blue 25% 75%, red 75%);
}

.box-4 {
  width: 1050px;
  height: 500px;
  background-image: radial-gradient(circle at bottom, red 20%, purple 20%)
